<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/{{view}}.css' />
  </head>
  <body>
    {{{body}}}
    <script src='/javascript/{{view}}.js'></script>
  </body>
</html>
